<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Live Photo</h4>
            </div>
            <div class="modal-body">
                <body>

                    <button id="capture" class="btn btn-primary">CAPTURE</button>
                    <video id="player" width="550" height="400" controls autoplay></video>
                    <canvas id="canvas" width=320 height=240></canvas>
                    
                    <a href="#" class="btn btn-success" id="btn-download" download="bookingphoto.png">Download</a>
                    @*<a href="/Schedules/Create/@ViewBag.doctorId" class="btn btn-success">BACK</a>*@


                    <div id="demo"></div>
                    <script>
                                          const player = document.getElementById('player');
                                          const canvas = document.getElementById('canvas');
                                          const context = canvas.getContext('2d');
                                          const captureButton = document.getElementById('capture');

                                          var button = document.getElementById('btn-download');
                                          button.addEventListener('click', function (e) {
                                              var dataURL = canvas.toDataURL('image/png');
                                              button.href = dataURL;
                                          });

                                          const constraints = {
                                            video: true,
                                          };
                                          captureButton.addEventListener('click', () => {
                                            // Draw the video frame to the canvas.
                                              var image = context.drawImage(player, 0, 0, canvas.width, canvas.height);
                                              image.href = context.drawImage(player, 0, 0, canvas.width, canvas.height);

                                          });

                                          navigator.mediaDevices.getUserMedia(constraints)
                                            .then((stream) => {
                                              player.srcObject = stream;
                                            });
                    </script>
                </body>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>