
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Clinic RI9</h4>
            </div>
            <div class="modal-body">
                
                <div class="row text-center">
                    <div class="col-md-12">
                            <div class="caption">
                                <h3>Are you new ?</h3>
                                <br />
                                <p>
                                    <a href="" id="newPatient" class="btn btn-primary">Yes, I am new here</a>
                                    <a href="" id="registeredPatient" class="btn btn-default">No, I already have my patient ID</a>
                                </p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>