@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url('/Content/backLogin.png'); margin-top:20px;">
    <h1>Clinic Lorem Ipsum</h1>
</div>

<div class="row">
    <div class="col-md-4" style="background-color:#ddd;  box-shadow: 10px 10px 5px grey;">
        <h2>Patient care and health information</h2>
        <p>
            More than 3,300 physicians, scientists and researchers from Mayo Clinic share their expertise to empower you. 
            Find out why Mayo Clinic is the right place for your health care.
        </p>
            
    </div>
    <div class="col-md-3" style="background-color:#ddd ;margin-right:45px; margin-left:45px;  box-shadow: 10px 10px 5px grey;">
        <h2>International Services</h2>
        <p>
            Thousands of people from around the world travel to Lorem Clinic locations in Batam, Jakarta and Tanjung Pinang each year for medical care.
        </p>
    </div>
    <div class="col-md-4" style="background-color:#ddd;  box-shadow: 10px 10px 5px grey;">
        <h2>For medical professionals</h2>
        <p>
            Lorem Clinic is one of the largest and most respected hospitals in the country. Our mission is to provide 
            better care of the sick, investigation into their problems, 
            and further education of those who serve. Learn more about our leadership, vision, values and model of healthcare.
        </p>
    </div>
</div>