<div id="payModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Paid Form</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="formPaid">
                    <label>Amount</label>
                    <input type="number" name="amount" class="form-control" min="1" max="" id="inputPaid" required />
                    <br />
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>